.section_one{
    max-width: 1000px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
form{
    font-size: 22px;
}
select{
    width: 200px;
    font-size: 18px;
}
span{
    display: block;
    padding: 20px 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}